body
{
    background-color: #031321;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template-rows: 20% 45% 35%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
header
{
    display: flex;
    align-items: center;
    justify-content: center;
}
div, body
{
    font-size: 60px;
    color: white;
}
label
{
    font-size: 50px;
    color: #2196f3;
}
article
{
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
}
article a
{
    animation: gravity 600ms infinite;
    background-color: #2196f3;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #2196f3;
    display: block;
    height: 6px;
    position: relative;
    top: 0;
    transition: 300ms;
    width: 6px;
}

@keyframes gravity
{
    50% {
        transform: translateY(2px);
    }
}
aside
{
    display: grid;
    grid-template-columns: 50% 50%;
}
aside textarea
{
    background-color: rgba(255, 255, 255, 0.5);
    color: #031321;
    font-size: 30px;
    padding: 15px;
}
aside code
{
    color: #2196f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    overflow: hidden;
    padding: 15px;
    word-wrap: break-word;
}